body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    color: #007bff;
}

.navbar {
    margin-bottom: 20px;
}

.card {
    margin-bottom: 20px;
}

footer {
    padding: 20px 0;
    background-color: #007bff;
    color: white;
}

footer p {
    margin: 0;
}
